<html>
    <head>
        <title>Bolao</title>
    </head>
    <body>
        <div>
            <h1><a href="recuperar">Recuperar Senha</a></h1>
        </div>
        <div>
            <h1><a href="jogosDaData">Jogos</a></h1>
        </div>
        <div>
            <h1><a href="listaDatas">lista de datas dos jogos</a></h1>
        </div>
        <div>
            <h1><a href="confirmacaoDaAposta">Confirmar a Aposta</a></h1>
        </div>
        <div>
            <h1><a href="apostas">Minhas Apostas</a></h1>
        </div>
        <div>
            <h1><a href="estatisticas">Estatistica do jogo</a></h1>
        </div>
        <div>
            <h1><a href="login">Login</a></h1>
        </div>
        <div>
            <h1><a href="logout">Sair do Bolao</a></h1>
        </div>
        <div>
            <h1><a href="signup">Criar Conta</a></h1>
        </div>

	<div>
	</body>
</html>